<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCi_lZ8FJ-OQukc3R9MV-2THUIvNKbk_dY</string>
	<key>GCM_SENDER_ID</key>
	<string>1051869953939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petrasoftsolutions.mobile.qa</string>
	<key>PROJECT_ID</key>
	<string>petrasoft-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>petrasoft-qa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051869953939:ios:5e546444ecb98bd37b7266</string>
</dict>
</plist>