#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-qa.xcconfig"
#include "Generated.xcconfig"

ASSET_PREFIX=qa
BUNDLE_NAME=(QA) Petrasoft School Management Solutions
BUNDLE_DISPLAY_NAME=(QA) Petrasoft School Management Solutions

// Ensure Swift stdlibs are embedded for release exports
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
